@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 13% 95%;
    --foreground: 220 9% 10%;
    --card: 0 0% 100%;
    --card-foreground: 220 9% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 9% 10%;
    --primary: 207 66% 69%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 15% 90%;
    --secondary-foreground: 220 9% 10%;
    --muted: 220 15% 90%;
    --muted-foreground: 220 9% 40%;
    --accent: 168 53% 77%;
    --accent-foreground: 169 50% 30%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 207 66% 69%;
    --radius: 0.5rem;
    --chart-1: 207 66% 69%;
    --chart-2: 168 53% 77%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 220 9% 10%;
    --foreground: 0 0% 98%;
    --card: 220 9% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 220 9% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 207 66% 69%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 9% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 220 9% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 168 53% 77%;
    --accent-foreground: 169 50% 30%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 9% 20%;
    --input: 220 9% 20%;
    --ring: 207 66% 69%;
    --chart-1: 207 66% 69%;
    --chart-2: 168 53% 77%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
